
.afganistan {
	position: absolute;
	left: 260px;
	top: 402px;
}
.bangladesh {
	position: absolute;
	left: 521px;
	top: 538px;
}
.bhutan {
	position: absolute;
	left: 527px;
	top: 516px;
}
.burma {
	position: absolute;
	left: 558px;
	top: 515px;
}
.cambodia {
	position: absolute;
	left: 660px;
	top: 670px;
}
.central_stans {
	position: absolute;
	left: 232px;
	top: 315px;
}
.delhi {
	position: absolute;
	left: 412px;
	top: 515px;
}
.east_central_siberia {
	position: absolute;
	left: 532px;
	top: -15px;
}
.east_indonesia {
	position: absolute;
	left: 800px;
	top: 817px;
}
.east_siberia {

}
.georgia {
	position: absolute;
	left: 101px;
	top: 345px;
}
.hong_kong {
	position: absolute;
	left: 787px;
	top: 533px;
}
.iran {
	position: absolute;
	left: 123px;
	top: 390px;
}
.iraq {
	position: absolute;
	left: 60px;
	top: 416px;
}
.israel_palestine {}
.jammu_kashmir {}
.jordan {}
.kazakhstan {}
.kuwait {}
.laos {}
.mainland_japan {}
.malysia {}
.mongolia {}
.mumbai {}
.nepal {}
.north_china {}
.northeast_china {}
.northeast_india {}
.north_japan {}
.north_korea {}
.northwest_china {}
.okinawa {}
.oman {}
.pakistan {}
.rajasthan {}
.saudi_arabia {}
.south_china {}
.south_india {}
.sri_lanka {}
.syria {}
.taiwan {}
.tamil_nadu {}
.thailand {}
.tibet {}
.turkey {}
.turmenistan {}
.uae {}
.vietnam {}
.west_central_siberia {}
.west_indonesia {}
.west_siberia {}
.yemen {}