body {
	background-color: #FFFBD0;
}

div.container {
	display: block;
	min-width: 1100px;
	max-width: 1150px;
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	background-color: #CC6600;
}

div.map {
	margin: auto;
	height: 960px;
	width: 1066px;
	background-image: url(./asiapics/asia_with_lines2.png);
	margin-bottom: 1em;
}

div.button_box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

button {
	background-color: #FFFBD0;
	width: 20%;
	margin: auto;
	height: 3em;
	border-radius: 10px;
}