<html>
	<head>
		<title>Risk</title>
		<!-- Stylesheet for layout -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css')}}">
		<!-- Stylesheet to tell browser how to position countries -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='country_positioning.css')}}">

		<!-- Declares a root for AJAX -->
		<script type=text/javascript>
		 	var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	</head>
	<body>
		<!-- Gets flashed messeges, displays in javascript alert -->
		{% with messages = get_flashed_messages() %}
	   		{% if messages %}
	      		{% for message in messages %}
	         		<script> alert("{{ message }}")</script>
	      		{% endfor %}
	   		{% endif %}
		{% endwith %}
		<div class="container">
			{% block content %}
			{% endblock %}
			{% block console %}
			{% endblock %}
			<div class="button_box">
				<button type="button" id="undo">Undo</button>
				<button type="button" onclick="show_high_scores()">Show High Scores</button>
				{% if session["user"] %}
				<button type="button" onclick="log_in(true)">Log out</button>
				<button type="button" onclick="go_to_new_game(true)">New Game</button>
				{% else %}
				<button type="button" onclick="log_in(false)">Log in</button>
				<button type="button" onclick="go_to_new_game(false)">New Game</button>
				{% endif %}
			</div>
		</div>
		<script src="{{ url_for('static', filename='scripts/buttons.js')}}"></script>
		<script src="{{ url_for('static', filename='scripts/adjacent.js')}}"></script>
		<script src="{{ url_for('static', filename='scripts/game_logic.js')}}"></script>
	</body>
</html>