<div class="afganistan"></div>
<div class="bangladesh"></div>
<div class="bhutan"></div>
<div class="burma"></div>
<div class="cambodia"></div>
<div class="central_stans"></div>
<div class="delhi"></div>
<div class="east_central_siberia"></div>
<div class="east_indonesia"></div>
<div class="east_siberia"></div>
<div class="georgia"></div>
<div class="hong_kong"></div>
<div class="iran"></div>
<div class="iraq"></div>
<div class="israel_palestine"></div>
<div class="jammu_kashmir"></div>
<div class="jordan"></div>
<div class="kazakhstan"></div>
<div class="kuwait"></div>
<div class="laos"></div>
<div class="mainland_japan"></div>
<div class="malysia"></div>
<div class="mongolia"></div>
<div class="mumbai"></div>
<div class="nepal"></div>
<div class="north_china"></div>
<div class="northeast_china"></div>
<div class="northeast_india"></div>
<div class="north_japan"></div>
<div class="north_korea"></div>
<div class="northwest_china"></div>
<div class="okinawa"></div>
<div class="oman"></div>
<div class="pakistan"></div>
<div class="rajasthan"></div>
<div class="saudi_arabia"></div>
<div class="south_china"></div>
<div class="south_india"></div>
<div class="sri_lanka"></div>
<div class="syria"></div>
<div class="taiwan"></div>
<div class="tamil_nadu"></div>
<div class="thailand"></div>
<div class="tibet"></div>
<div class="turkey"></div>
<div class="turmenistan"></div>
<div class="uae"></div>
<div class="vietnam"></div>
<div class="west_central_siberia"></div>
<div class="west_indonesia"></div>
<div class="west_siberia"></div>
<div class="yemen"></div>