<div class="afganistan"><img src="../static/asiapics/afganistan.png"></div>
<div class="bangladesh"><img src="../static/asiapics/bangladesh.png"></div>
<div class="bhutan"><img src="../static/asiapics/bhutan.png"></div>
<div class="burma"><img src="../static/asiapics/burma.png"></div>
<div class="cambodia"><img src="../static/asiapics/cambodia.png"></div>
<div class="central_stans"><img src="../static/asiapics/central_stans.png"></div>
<div class="delhi"><img src="../static/asiapics/delhi.png"></div>
<div class="east_central_siberia"><img src="../static/asiapics/east_central_siberia.png"></div>
<div class="east_indonesia"><img src="../static/asiapics/east_indonesia.png"></div>
<div class="east_siberia"></div>
<div class="georgia"><img src="../static/asiapics/georgia.png"></div>
<div class="hong_kong"><img src="../static/asiapics/hong_kong.png"></div>
<div class="iran"><img src="../static/asiapics/iran.png"></div>
<div class="iraq"><img src="../static/asiapics/iraq.png"></div>
<div class="israel_palestine"></div>
<div class="jammu_kashmir"></div>
<div class="jordan"></div>
<div class="kazakhstan"></div>
<div class="kuwait"></div>
<div class="laos"></div>
<div class="mainland_japan"></div>
<div class="malysia"></div>
<div class="mongolia"></div>
<div class="mumbai"></div>
<div class="nepal"></div>
<div class="north_china"></div>
<div class="northeast_china"></div>
<div class="northeast_india"></div>
<div class="north_japan"></div>
<div class="north_korea"></div>
<div class="northwest_china"></div>
<div class="okinawa"></div>
<div class="oman"></div>
<div class="pakistan"></div>
<div class="rajasthan"></div>
<div class="saudi_arabia"></div>
<div class="south_china"></div>
<div class="south_india"></div>
<div class="sri_lanka"></div>
<div class="syria"></div>
<div class="taiwan"></div>
<div class="tamil_nadu"></div>
<div class="thailand"></div>
<div class="tibet"></div>
<div class="turkey"></div>
<div class="turmenistan"></div>
<div class="uae"></div>
<div class="vietnam"></div>
<div class="west_central_siberia"></div>
<div class="west_indonesia"></div>
<div class="west_siberia"></div>
<div class="yemen"></div>