{% extends "basic.html" %}
{% block content %}
<div class="log_in">
	<form action="/log_in/" method="POST">
		<p>Please enter your username and password. </p><br>
		Username: <input type="text_box" name="user_name"><br>
		Password: <input type="text_box" name="user_password">
		<br>
		<input type="submit" value="Submit">
		<br>
	</form>
</div>
<div class="sign_up">
	<form action="/create_new_user/" method="POST">
		<p>If you want to register as a new user, please enter your new username and password. <b>Passwords are not secure.</b></p><br>
		Username: <input type="text_box" name="user_name"><br>
		Password: <input type="text_box" name="user_password"><br>
		Comfirm Password: <input type="text_box" name="user_password_confirm"><br>
		<input type="submit" value="Submit">
		<br>
	</form>
</div>


{% endblock %}