{% extends "basic.html" %}
{% block content %}
<form action="/new_game/" method="PUSH">
	<p>Choose your color: </p><br>
	<input type="radio" name="color" value="blue">Blue
	<input type="radio" name="color" value="red">Red
	<input type="radio" name="color" value="green">Blue
	<input type="radio" name="color" value="tan">Tan
	<br>
</form>
<div class="button_box">
	<button type="button" onclick="go_back()">Go Back</button>
	<button type="button" onclick="show_high_scores()">Show High Scores</button>
	<button type="button" onclick="log_in(false)">Log in / Log out</button>
	<button type="button" onclick="new_game(false)">New Game</button>
</div>
{% endblock %}